<div class="page-title">
  <h1>SIGN IN:</h1>
</div>
<%= form_with(url: login_path, class: 'sign-inup-form') do |u| %>
  <br>
  Enter your name: <br>
  <%= text_field(:user,:name)  %> <br><br>
  <%= u.submit "Login"%>
<% end %>