<div class="featured-row">
  <div class="featured-articles">
    <%= front_home%>
  </div>
  <div class="weather">
    <%=image_tag("drizzle.svg")%>
  </div>
</div>
<div class="featured-categories">
  <%= home_categories%>
</div>

