/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *,
 *::after,
 *::before {
   margin: 0;
   padding: 0;
 }

 body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(78,68,62);
}

body > * {
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

a:active {
  color: rgb(253,96,0);
}

li {
  list-style: none;
}

.alert,
.notice {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 1px 10px 1px;
}
.alert {
  background-color: rgb(194, 73, 73);
}

.notice {
  background-color: seagreen;
}

.d-flex {
  display: flex;
}

.nav {
  justify-content: space-between;
  align-items: center;
  margin: auto 20px;
  height: 80px;
}

.nav .search img {
  height: 15px;
  width: 15px;
}

.nav span {
  margin: auto 10px;
}

.top-nav li a {
  color: gray;
  font-weight: 600;
}

.top-nav li a:hover {
  color: rgb(253,96,0);
}

.nav li {
  margin: auto 10px;
}


.multi-li {
  position: relative;
}

.multi-li:hover ul {
  display: block;
}

.multi-li ul {
  position: absolute;
  display: none;
  padding-top: 10px;
}

.multi-li li {
  margin: 0;
  display: inline-block;
  width: 120px;
  background-color: whitesmoke;
  padding: 5px 20px 5px 10px;
}

.multi-li span {
  margin: 0;
  margin-left: 2px;
}

.multi-li .down-arrow {
  width: 10px;
}

main {
  padding: 0 20px;
  min-height: 60vh;
}
main form {
  display: block;
  max-width: 500px;
  margin: auto;
}

.logo > img {
  max-width: 300px;
  margin-top: 10px;
  object-fit: contain;
  overflow: hidden;
  text-align: end;
}

.social > img {
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: rgb(253,96,0);
}

.page-title {
  text-align: center;
  margin-bottom: 10px;
}

footer {
  background-color: rgb(78,68,62);
  color: aliceblue;
}

footer a {
  color: rgb(253,96,0);
}

footer .logo {
  color: aliceblue;
  font-size: 1.5rem;
}

