// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sign-inup-form {
  text-align: center;
  input[type="text"],
  input[type="submit"] {
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  input[type="text"] {
    background-color: rgb(255, 217, 157);
    margin-top: 5px;
  }
  input[type="submit"] {
    padding: 10px;
    background-color: rgb(199, 199, 199);
  }
}


